<<<<<<< HEAD
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 15px 0;
}

header img {
    width: 10%;
    height: auto;
    padding-left: 100px;
}

header ul {
    display: flex;
    list-style: none;
    padding-right: 200px;
}

header a {
    text-decoration: none;
    color: black;
}

header a {
    padding: 10px;
    font-family: monospace;
    font-size: larger;
}

header a:visited {
    color: black;
}

header a:hover {
    color: rgb(48, 46, 46);
}

.about {
    background-color: rgb(11, 11, 61);
    padding: 20px 0 40px 100px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.about img {
    width: 50%;
    justify-items: right;
}

.who {
    padding: 40px 0 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    overflow-x: hidden;
}

.who h2 {
    color: rgb(11, 11, 61);
}


.who img {
    width: 40%;
    padding-right: 600px;
    padding-top: 20px;
}

.why {
    justify-items: center;
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    margin-top: 35px;
}

.why h2 {
    color: rgb(11, 11, 61);
    padding-top: 50px;
}

.brands-sell {
    justify-items: center;
    margin: 35px;
}

.brands-sell h2 {
    color: rgb(11, 11, 61);
}

.wesell {
    display: flex;
    justify-items: center;
    gap: 80px;
}

.wesell img {
    width: 15%;
    height: 15px;
}

.brands-sell button {
    margin-top: 70px;
    padding: 10px 53px 10px 53px;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(11, 11, 61);
    color: #fff;
}

.brands-sell button a {
    text-decoration: none;
    color: #fff;
}

.brands-sell a:visited{
    color: #fff;
}

footer .company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 0 15px 100px;
    background-color: rgb(11, 11, 61);
    color: #fff;
}

.footerimg {
    background-color: #fff;
    justify-items: center;
    padding: 20px 0 20px 0;
}

.footerimg div {
    display: flex;
    gap: 80px;
}

.footerimg img {
    width: 30%;
    height: 15px;
}

.footerimg div .lg1 {
    height: 20px;
}

.stay {
    background-color: rgb(11, 11, 61);
    color: #fff;
    padding: 30px 0 30px 100px;
}

.copy {
    padding-top: 20px;
}

=======
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 15px 0;
}

header img {
    width: 10%;
    height: auto;
    padding-left: 100px;
}

header ul {
    display: flex;
    list-style: none;
    padding-right: 200px;
}

header a {
    text-decoration: none;
    color: black;
}

header a {
    padding: 10px;
    font-family: monospace;
    font-size: larger;
}

header a:visited {
    color: black;
}

header a:hover {
    color: rgb(48, 46, 46);
}

.about {
    background-color: rgb(11, 11, 61);
    padding: 20px 0 40px 100px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.about img {
    width: 50%;
    justify-items: right;
}

.who {
    padding: 40px 0 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    overflow-x: hidden;
}

.who h2 {
    color: rgb(11, 11, 61);
}


.who img {
    width: 40%;
    padding-right: 600px;
    padding-top: 20px;
}

.why {
    justify-items: center;
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    margin-top: 35px;
}

.why h2 {
    color: rgb(11, 11, 61);
    padding-top: 50px;
}

.brands-sell {
    justify-items: center;
    margin: 35px;
}

.brands-sell h2 {
    color: rgb(11, 11, 61);
}

.wesell {
    display: flex;
    justify-items: center;
    gap: 80px;
}

.wesell img {
    width: 15%;
    height: 15px;
}

.brands-sell button {
    margin-top: 70px;
    padding: 10px 53px 10px 53px;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(11, 11, 61);
    color: #fff;
}

.brands-sell button a {
    text-decoration: none;
    color: #fff;
}

.brands-sell a:visited{
    color: #fff;
}

footer .company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 0 15px 100px;
    background-color: rgb(11, 11, 61);
    color: #fff;
}

.footerimg {
    background-color: #fff;
    justify-items: center;
    padding: 20px 0 20px 0;
}

.footerimg div {
    display: flex;
    gap: 80px;
}

.footerimg img {
    width: 30%;
    height: 15px;
}

.footerimg div .lg1 {
    height: 20px;
}

.stay {
    background-color: rgb(11, 11, 61);
    color: #fff;
    padding: 30px 0 30px 100px;
}

.copy {
    padding-top: 20px;
}

>>>>>>> 4b390b27d0f7c1b8af8c4a0d6004d8d1d2f9c946
