header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

header img {
    width: 10%;
    height: auto;
    padding-right: 300px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul {
    padding-left: 250px;
}

header a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: monospace;
    font-size: larger;
}

header a:visited {
    color: black;
}

header a:hover {
    color: rgb(48, 46, 46);
}

.ourbrands {
    justify-items: center;
    padding-top: 40px;
}

.ourbrands h1 {
    color: rgb(11, 11, 61);
}


.products ul {
    list-style: none;
    gap: 30px;
}


.products a {
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: rgb(240, 240, 240);
    border: 1px;
    border-radius: 10px;
    padding: 6px 12px 6px 12px;
    
}


.products a:visited {
    color: black;
}