header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 15px 0;
}

.homelinks {
    align-items: center;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    padding-right: 200px;
}

.homelinks a {
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    font-weight: 200px;
    font-weight: 500;
    color: black;
    font-family: monospace;
}

.homelinks a:visited {
    color: black;
}

.homelinks a:hover {
    color: rgb(48, 46, 46);
}

.logo {
    width: 10%;
    height: auto;
    padding-left: 100px;
}

.global {
    width: 100%;
    height: 350px;
    background-color: rgb(11, 11, 61);
    display: flex;
}
.global h1 {
    padding: 65px 0 0 100px;
    color: azure;
    font-size: 16px;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
}

.global p {
    color: #fff;
    padding-left: 100px;
}

button {
    text-decoration: none;
    margin: 40px 0 0 100px;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    font-size: x-small;
    font-weight: bold;
    color: black;
}

button a :visited {
    color: black;
}

.tv {
    width: 20%;
    height: 65%;
    color: rgb(9, 9, 48);
    margin: 60px 0 0 450px;
}

.brands {
    padding: 50px 0 0 100px;
    font-weight: bolder;
    font-family: monospace;
}

.brands-logos {
    display: flex;
    align-items: center;
    gap: 80px;
}

.brands-logos img {
    width: 10%;
    height: auto;
}

.brands-logos .lg {
    height: 35px;
}

.brands-logos .firman {
    height: 23px;
    width: 160px;
}

.featured {
    font-family: monospace;
    padding: 20px 0 0 100px;
}

.products {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(5,150px);
    grid-template-rows: repeat(1, 200px);
    padding: 30px 0 30px 200px;
}

.frig {
    background-color: white;
}

.frig img {
    width: 100%;
    height: 60%;  
}

.frig2 {
    background-color: #fff;
}

.frig2  img {
    width: 100%;
    height: 50%;
    padding-right: 10px;
}


.content {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 {
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;

}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(11, 11, 61);
    padding: 15px;
    color: #fff;
    margin-top: 15px;
    padding-right: 250px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 200px; */
}

.logo1 {
    width: 150px;
    margin-bottom: 10px;
    padding-right: 40px;
    padding-top: 40px;
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: white;
}




